global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    option log-health-checks

    timeout connect 5s
    timeout client 1m
    timeout server 1m
    timeout check 5s


frontend postgres_write
    bind *:5432
    default_backend postgres_primary


backend postgres_primary
    mode tcp
    option pgsql-check user postgres

    server pg-primary pg-primary:5432 check inter 2s fall 3 rise 2


frontend postgres_read
    bind *:5433
    default_backend postgres_standbys


backend postgres_standbys
    mode tcp
    balance leastconn
    option pgsql-check user postgres

    server pg-secondary pg-secondary:5432 check inter 2s fall 3 rise 2


listen stats
    bind *:8404
    mode http

    stats enable
    stats uri /stats
    stats refresh 5s
